<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    <meta charset="utf-8" />
    <title>Магазин</title>
</head>
<body>
    <header>
        <div>@Html.ActionLink("Главная", "Index", "Home")</div>
        <nav>
            <div>@Html.ActionLink("Добавление товаров", "AddItem", "Home")</div>
            <div>Контакты</div>
            <div>О нас</div>

        </nav>
    </header>
    @RenderBody()
</body>
</html>